<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=user.username%> Blogs</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Blogs</h1>
    <a href="/users/<%= user._id%>/blogs/new">Create a Post</a>
    <h2>Here be all your Blogs</h2>
    <ul>
        <% blogs.forEach((blog) => { %>
            <li>
                <a href="/users/<%=user._id%>/blogs/<%=blog._id %>">
                <%= blog.title %>
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>